.page-panier{
    background-color:#F9FBD9;
    padding:50px;
}

/* titre */
.page-panier h1{
    font-family:'Playfair Display', serif;
    font-size:60px;
    font-weight:400;
    text-align:center;
    margin-bottom:50px;
}

/* bloc principal */
.bloc-panier{
    background-color:#F9DCDC;
    width:80%;
    margin:auto;
    padding:30px;
}

/* produit */
.produit-page-panier{
    background:white;
    padding:25px;
    margin-bottom:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:'Roboto', sans-serif;
}

.produit-page-panier img{
    width:90px;
}

/* infos produit */
.infos-panier h3{
    font-size:22px;
}

.infos-panier p{
    font-size:20px;
}

/* quantité */
.quantite-panier{
    display:flex;
    align-items:center;
    gap:15px;
}

.quantite-panier button,
.supprimer-page{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
}

.nombre-page-panier{
    background:white;
    padding:8px 40px;
}

.supprimer-page:hover{
    color:red;
}